<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" EnableUpperCase="CalculatedPropertiesSolution.Web">
	<Applications>
		<!-- Win -->
		<Application
			Name="CalculatedPropertiesSolution.Win"
			FileName="[WinAppBin]\CalculatedPropertiesSolution.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="CalculatedPropertiesSolution.Web"
			UseIISExpress="True"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="CalculatedPropertiesSolution.Web"
			Url="http://localhost/CalculatedPropertiesSolution.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(localdb)\v11.0" DBName="CalculatedPropertiesSolutionEasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v16.2, Version=16.2.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v16.2, Version=16.2.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\CalculatedPropertiesSolution.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\CalculatedPropertiesSolution.Web" />
	</Aliases>
</Options>
